/* #ffe619 */
/* #faeb7c */
/* #030303 */
/* #0aff53 */
/* #1d1d1c */
.container {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0px;
  z-index: 9;
}

.main {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: 50px;
}

.main_sect__services {
  display: flex;
  width: 100%;
  min-height: 500px;
  padding-block-start: 80px;
  padding-block-end: 80px;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-image: url('/pattern-randomized.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_sect__testimonials {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.sect__tilt_btt {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0px;
  z-index: 2;
  transform: rotateX(180deg);
  background-image: url('/tilt_mobile_landing.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sect__tilt_top {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0px;
  z-index: 2;
  transform: rotateX(0deg) rotateY(180deg);
  background-image: url('/tilt_mobile_landing.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_sect__actioncall {
  min-height: 200px;
  padding-block: 80px;
  position: relative;
  background-image: url('/pattern-randomized.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_sect__contacts {
  display: flex;
  min-height: 500px;
  padding-block-end: 80px;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  min-height: 200px;
  padding-block-end: 60px;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-image: url('/pattern-randomized.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer_copy {
  padding-inline: 10px;
  position: absolute;
  bottom: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: calc(1rem * 1.6);
  color: #fff;
}
.footer_landing__social {
  padding-block-start: 70px;
  display: flex;
  width: 300px;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.footer_landing__social a {
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: calc(1rem * 1.6);
  color: #fff;
}
.footer_btn {
  border-style: none;
  background: none;
  cursor: pointer;
}
.footer_official {
  max-width: 320px;
  padding-block-end: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: calc(1rem * 1.6);
  color: #fff;
}
.footer_official a {
  text-decoration: underline #ffe619;
  font-size: 1.6rem;
}

@media screen and (min-width: 1050px) {

  .main {
    gap: 100px;
  }

  .main_sect__services {
    padding-block-start: 100px;
    padding-block-end: 80px;
  }

}